body {
  background-color: rgb(27, 187, 187);
  color: rgb(24, 103, 207);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  color: rgb(9, 4, 26);
  text-decoration: none;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid rgb(211, 29, 16);
}

.center {
  text-align: center;
  color: blue;
}

h1 {
  color: blue;
}

h2 {
  color: black;
}

p {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  color: rgb(36, 39, 30);
}

nav {
  color: azure;
}

h2 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 2px;
  align-items: end;
}

li {
  color: brown;
}
